<section class="page_404 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center">
        <div class="col-md-10 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>

          <div class="contant_box_404">
            <span class="h2">Look like you're lost</span>
            <p>the page you are looking for not avaible!</p>
            <button class="btn btn-dark btn-lg">Ir al home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
